/* icon顏色 */
.cart {
    color: orange;
    size: 100px;
}

.facebook {
    color: #1877f2;
}

.line {
    color: #00c300;
}

/* icon顏色 */
.hamburger {
    background-color: #FF8040;
}

.red_box {
    background: #FFDC35;
    width: 15%;
    max-width: 100px;
    height: 20%;
    position: absolute;

}

.body_background {
    background-color: #272727;
}

.heroheader {
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 245px;
}
.banner_background {
    position: relative;
    overflow: hidden;
}

.banner_background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/banner_wine.jpg');
    background-size: cover;
    z-index: -1;
    /* 將偽元素放到背景  */
    clip-path: polygon(30% 0, 100% 0%, 100% 100%, 30% 100%);
}
.p-100{
    padding: 100px;
}
.mb-150 {
    margin-bottom: 150px;
}

.ps-100 {
    padding-left: 100px;
}

.py-100 {
    padding: 100px 0;
}

.bg-wood {
    background: url('../img/background.jpg') no-repeat;
    object-fit: contain;
    height: 100%;
}
/* @media screen and (max-width:768px) {
    .banner_background::before {
        clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
    }

    img {
        overflow: hidden;
    }
} */