.logo {
    display: inline;
    padding-left: 50px;
    font-size: 30px;
    color: brown;
}

.red_box {
    background-color: #FFDC35;
    width: 15%;
    max-width: 100px;
    height: 20%;
    position: absolute;
    z-index: -1;
}

.border_left {
    border-left: 15px solid brown;
}

.social_icon {
    position: relative;
    top: 150px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.social_icon>i {
    display: block;
    margin-bottom: 10px;
}

.social_icon>a {
    color: white;
    text-decoration: none;
}

.bread {
    /* position: relative; */
    top: 170px;
    left: 20px;
}

.bread a {
    text-decoration: none;
    color: white;
}

.bread li {
    text-decoration: none;
    color: white;
}


.body_background {
    background-color: #272727;
}

.banner_background {
    position: relative;
    overflow: hidden;
}

.my_banner {
    padding: 0 100px 900px 50px;
}

.my_padding {
    padding-top: 250px;
    padding-bottom: 250px;
    padding-left: 30px;
}

.banner_background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/banner_wine.jpg');
    background-size: cover;
    z-index: -1;
    /* 將偽元素放到背景  */
    clip-path: polygon(30% 0, 100% 0%, 100% 100%, 30% 100%);
}

.mb-150 {
    margin-bottom: 150px;
}

.py-100 {
    padding: 100px 0;
}

.bg-wood {
    background: url('../img/background.jpg') no-repeat;
    object-fit: contain;
    height: 100%;
}

.product_warp {
    display: inline-block;
    max-width: 250px;
    /* 最大寬度 */
    min-width: 200px;
    /* 最小寬度 */
    margin: 0 auto;
    background-color: #878282;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.product_warp {
    height: 450px;
    width: 250px;
    overflow: hidden;
}

.product_info_card a {
    text-decoration: none;
    color: white;
}

.product_detail span {
    overflow: hidden;
}

.product_detail>p {
    margin-top: 1rem;
}

.line {
    height: 1px;
    width: 80%;
    background-color: brown;
    margin: auto;
}

.back_to_product_list {
    width: 3rem;
    height: 6rem;
    background-color: brown;
    position: absolute;
    left: 50px;
    text-transform: capitalize;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    line-height: 280%;
    color: white;
}

.news {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
}

/* 螢幕小於768 */
@media screen and (max-width: 768px) {
    .bread {
        top: 40px;
    }

    .my_padding {
        padding-top: 100px;
        padding-bottom: 600px;
    }

    .sectionh1 {
        width: 75%;
    }

    .sectionp {
        width: 75%;
    }

}

/* 螢幕大於992 */
@media screen and (min-width: 992px) {
    .sectionh1 {
        width: 35%;
    }

    .sectionp {
        width: 30%;
    }

    .my_padding {
        padding-bottom: 700px;
    }

    .social_icon {
        top: 20px;
    }
}

/* 螢幕小於1200 */
@media screen and (max-width: 1200px) {
    .bread {
        top: 40px;
    }

    .my_padding {
        padding-bottom: 500px;
    }
}



/* 螢幕小於1500 */
@media screen and (max-width: 1500px) {
    .my_padding {
        padding-bottom: 900px;
    }
}